.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup {
  display: none;
  position: fixed;
  color: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup-content {
  position: relative;
  width: 560px;
  height: 460px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.popup-content::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 550px;
  height: 400px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.popup-content::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 550px;
  height: 400px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 550px;
  height: 400px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderLine::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 550px;
  height: 400px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.popup-content form {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 0px 10px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.popup-content form h1 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  margin-top: 4px;
}

.popup-content form h4 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3em;
  margin-bottom: 4px;
}

.popup-content form .inputBox {
  position: relative;
  width: 500px;
  margin-top: 20px;
}

.popup-content form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.popup-content form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  color: #8f8f8f;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.popup-content form .inputBox input:valid ~ span,
.popup-content form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-25px);
}

.popup-content form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 530px;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.popup-content form .inputBox input:valid ~ i,
.popup-content form .inputBox input:focus ~ i {
  height: 30px;
}

.popup-content form .button {
  display: flex;
  justify-content: space-between;
}

.openButton {
  color: #fff;
  font-size: 25px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
}

textarea {
  width: 530px;
  height: 65px;
  align-items: absolute;
}

.popup-content form .button {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 9px 25px;
}

#submitButton {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
}

.closeButton {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  cursor: pointer;
}
