body {
  align-items: center;
  justify-content: center;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.video {
  width: 110vh;
  height: 61.88vh;
  display: flex;
  position: relative;
  margin-top: 10%;
}

#backButton {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  color: aliceblue;
  cursor: pointer;
  position: absolute;
  right: 40vh;
  top: 10vh;
  transition: all 0.2s ease-in;
}

.backButton:hover{
  opacity: 0.7;
}